{% extends 'base.html.twig' %}

{% block title %}Symfony UX Live Components Demo{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="display-4 text-primary text-center mb-4">🚀 Symfony UX Live Components Demo</h1>

    <twig:Dummy />

    <twig:Alert>Yaay</twig:Alert>

    <twig:Alert type="danger">
        {% block content %}This is an error message!{% endblock %}
    </twig:Alert>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <twig:Counter />
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-lg-10">
            <twig:Search />
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <twig:DemoForm />
        </div>
    </div>
</div>

<!-- Global Toast Component -->
<twig:Toast />
{% endblock %}
