{% extends 'base.html.twig' %}

{% block title %}Symfony UX Live Components Demo{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="display-4 text-primary text-center mb-4">🚀 Symfony UX Live Components Demo</h1>

    <twig:Alert>Yaay</twig:Alert>

    <twig:Alert type="danger">
        {% block content %}This is an error message!{% endblock %}
    </twig:Alert>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <twig:Counter />
        </div>
    </div>

</div>
{% endblock %}
