services:
  php:
    image: ghcr.io/thedevs-cz/php:8.4
    restart: unless-stopped
    tty: true
    ports:
      - "8080:80"
    volumes:
      - .:/app
      - ./docker-entrypoint.sh:/usr/local/bin/docker-php-entrypoint
      - caddy_data:/data
      - caddy_config:/config
    environment:
      XDEBUG_CONFIG: "client_host=host.docker.internal"
      XDEBUG_MODE: debug
      PHP_IDE_CONFIG: "serverName=localhost"
      SERVER_NAME: :80

volumes:
  caddy_data:
  caddy_config:
